<div class="visual-single">
    <b>Range</b>
    <div ng-if="item.name">name: {{item.name}}</div>
    <div ng-if="item.gt!=null">gt: {{item.gt}}</div>
    <div ng-if="item.gte!=null">gte: {{item.gte}}</div>
    <div ng-if="item.lt!=null">lt: {{item.lt}}</div>
    <div ng-if="item.lte!=null">lte: {{item.lte}}</div>
    <div ng-if="item.from!=null">from: {{item.from}}</div>
    <div ng-if="item.to!=null">to: {{item.to}}</div>
    <div ng-if="item.include_lower!=null">include_lower: {{item.include_lower}}</div>
    <div ng-if="item.include_upper!=null">include_upper: {{item.include_upper}}</div>
    <div ng-if="item.boost">boost: {{item.boost}}</div>
</div>